@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
   
    color: #444444;
}

.carousel{
    width: 65%;
    
    margin: 0 auto;
   
}





.section-products {
    padding: 40px 0 50px;
    
}

.section-products .header {
    margin-bottom: 30px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
    max-width: 220px;
    
    margin: 0 auto;
   
}

.section-products .single-product .part-1 {
    position: relative;
    height: 180px;
    max-height: 220px;
    
    min-width: 200px;
    margin: 0 auto;
   
    overflow: hidden;
    
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
       
}



.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 40px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
  
  
  

   
}

.section-products .single-product:hover .part-1 ul {
    bottom: 80px;
    opacity: 1;

  

}
.section-products .single-product:hover .part-1 img {
    filter: blur(6px);
      
}




.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin: 0 auto;
    
}

.section-products .single-product .part-1 ul li button {
    border: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
    
}
.section-products .single-product .part-1 ul li a {
    border: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
    
}
.part-2{
    margin-bottom: 25px;
}

.section-products .single-product .part-1 ul li button:hover {
    color: #fe302f;
  
}
.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
  
}


.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}


.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}


.card-img-top2{
    height: 80%;
    width: 80%;
    min-height: 100px;
    min-width: 120px;
    
    
    margin: 0 auto;
    padding-top: 20px;
   
   
}
.image_div{
    text-align: center;
    position: relative;
    margin: 0 auto;
    height: 150px;
    max-height: 220px;
    
    min-width: 200px;
    
   
    overflow: hidden;
}



.card-img-top{
    height:70%;
    width: 60%;
    min-height: 100px;
    min-width: 120px;
    
    margin: 0 auto;
  
    margin-top: 10px;
    padding-top: 5px;

}


.card-img-top:hover{
    
    transform: scale(1.15,1.15);
    transition: all 0.3s;
    
}

.card{
    max-width: 240px;
    min-width: 240px;
    max-height: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
    z-index:0;
    margin-right: 3px;
    
    

}
.card:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s;
    z-index: 1;
   
    
}


.lead{font-weight: bold;}




.fav:hover{
color: red;
    
}


.favbg {
    border-color: white;
    box-shadow: 1px 1px 1px 1px  lightgrey;
    
    border-width: thin;
 
}

.favbg:hover, .fav:hover {
    
    color: white;
    background-color: red;
}






 
 

 
  
  
.see-all{
    color: #0082ca;
}


.see-all:hover{
    text-decoration: underline;
}
.sticky-top{
    z-index: 2;
}

::-webkit-scrollbar {
    width: 10px;
   
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    box-shadow: inset 0 0 5px cadetblue; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
 
.sold{
   position: relative;
   right:  10px;
    border-radius: 3px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background-color: #ee4b4b;
    color: white;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s
  }
  .your{
    position: relative;
    right:  10px;
     border-radius: 3px;
     width: 140px;
     height: 40px;
     line-height: 40px;
     background-color: blue;
     color: white;
     text-align: center;
     box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
     transition: color 0.2s   
  }